.form-control {
    margin-bottom: 10px;
}

.form-control label{
    margin-bottom: 5px;
    display: block;
}

.form-control input {
    width: 200px;
    padding: 8px 4px;
    border-radius: 4px;
    border-color: blue;
    /* border: none; */
}
/* pseudo element selector */
/* .form-control input::placeholder {
    color: red;

} */

.form-control input:focus {
    outline-color: red;

}
.form-control-gender {
    margin-bottom: 20px;
}

.form-control-gender div{
    display: flex;
    align-items: center;
    gap: 4px;
    
}

.form-control textarea{
    width: 200px;
    height: 100px;
    resize: none;
    padding: 5px;
}

.form-control-terms{
    display: inline-block;
}

#submit{
    background-color: green;
    color: white;
    padding: 10px 5px;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    margin-top: 10px;
}

